<!--The content below is only a placeholder and can be replaced.-->
<div class="container spacer">

  <div class="panel panel-primary">
    <div class="panel-heading">Listes des contacts</div>
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>mail</th>
        </tr>
        <tr *ngFor="let c of pageContacts?.content">
          <td>{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.prenom}}</td>
          <td>{{c.email}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
